img {
    width: 150px;
    height: auto;
}

#InfoLibro {
    height: 575px;
    width: 250px;
    border: 2px solid;
    border-color: black;
    border-radius: 20px;
    background-color: rgb(245, 227, 203);
}